@model RWA_Aplikacija.ViewModels.PotkategorijaPodaciViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nova/Uredi Potkategoriju</h2>

@using (Html.BeginForm("Save", "Potkategorija"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Potkategorija.Naziv);
        @Html.TextBoxFor(m => m.Potkategorija.Naziv, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Potkategorija.Naziv)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Potkategorija.KategorijaID);                                           @*po cemu bira       vrijednost   naslov kad je prazno*@
        @Html.DropDownListFor(m => m.Potkategorija.KategorijaID, new SelectList(Model.Kategorije, "IDKategorija", "Naziv"), "Odaberite Kategoriju", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Potkategorija.KategorijaID)
    </div>
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.Potkategorija.IDPotkategorija)

    <button class="btn btn-primary" type="submit">Spremi</button>

}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
